@model IEnumerable<CPRG214.ATS.AssetTracker.Models.AssetViewModel>

@{
    Layout = null;
}

<br />
<h3>Assets</h3>
<table class="table jumbotron">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>

            </tr>
        }
    </tbody>
</table>

